<div class="banner-below-nav">
      <ul class="banner-below-nav-content">
        <li><a href="">$15 SAME DAY DELIVERY</a></li>
        <li><a href="">FREE EXPRESS DELIVERY OVER $50* </a></li>
        <li><a href="">FREE CLICK & COLLECT</a></li>
      </ul>
    </div>

    <div class="banner-below-nav bg-black" style="background:black">
      <ul class="banner-below-nav-content">
        <li><a href=""><img class="wrapper-140" src="https://www.davidjones.com/images/assetimages/2022/ss/wk07/Homepage/ww_lockup.svg" alt="WONDERWORLD" title="WONDERWORLD"></a></li>
        <li><a href="">new season </a></li>
        <li><a href="">destination Canada</a></li>
        <li><a href="">the trend edit</a></li>
        <li><a href="">discovery more</a></li>
      </ul>
    </div>
