
<div class="top-banner-slider topbanner-load">
    <ol style="list-style:none;padding-left:0;margin:0;">
        <li class="content-slide">
            <a href="" class="topbanner-message">flexible returns</a>
        </li>
        <li class="content-slide">
            <a href="" class="topbanner-message">FREE EXPRESS DELIVERY OVER $50*</a>
        </li>
        <li class="content-slide">
            <a href="" class="topbanner-message">3 hours click & collect on your order</a>
        </li>
    </ol>
</div>
