
<div class="popular-items-container">
        <div class="popular-title">
            <h2>SHOP THE NEW SEASON</h2>
        </div>
        <div class="popular-keywords">
            <a href="https://www.davidjones.com/women/new-in?pr_id=promo_ss22_1&pr_name=ss22&pr_creative=women&pr_position=newseason">Women</a>
            <a href="https://www.davidjones.com/men/new-in?pr_id=promo_ss22_1&pr_name=ss22&pr_creative=men&pr_position=newseason">Men</a>
            <a href="https://www.davidjones.com/kids/new-in?pr_id=promo_ss22_1&pr_name=ss22&pr_creative=kids&pr_position=newseason">Kids</a>
            <a href="https://www.davidjones.com/beauty/new-in?pr_id=promo_ss22_1&pr_name=ss22&pr_creative=beauty&pr_position=newseason">Beauty</a>
            <a href="https://www.davidjones.com/home-and-food/new-in?pr_id=promo_ss22_1&pr_name=ss22&pr_creative=home&pr_position=newseason">Home</a>
        </div>
</div>
